@media only screen and (min-width:768px){
    body{
        padding:0;
        margin:0;
        box-sizing: border-box;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        font-family: monospace;
    }
    a:link{
        text-decoration:none;
        color:#000;
    }
    a{
        color:#000;
    }
    .homenav{
        width:100%;
        position: sticky;
        z-index: 100;
        top:0;
        background:#fff;
        box-shadow: 0px 5px 5px #555;
        padding:0;
        margin:0;
    }
    .homenav ul{
        display:flex;
        color:#000;
        flex-direction: row;
        list-style: none;
        align-items: center;
        width:80%;
        justify-content: center;
        padding:0;
        margin:0;
    }

    .homenav h3{
        flex:1;
        font-weight: bold;
    }

    .homenav ul li{
        padding: 0px 6px;
    }
    .homenav a{
        margin:5px;
    }
    .parallax-first{
        height:100vh;
        width:100%;
        background:url(../img/pexels-jessica-lewis-3391378.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .parallax-first h1{
        font-size:4rem;
        color:#fff;
    }

    .parallax-first h2{
        font-size:2rem;
        color:#fff;
    }
    .section-two{
        width:100%;
        display:grid;
        grid-template-columns: 1fr;

    }
    .showcase-first{
        padding:20px;
        display: flex;
        width:90%;
        margin:0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .showcase-first img{
        width:100%;
        margin:0 auto;
        flex:2;
    }

    .showcase-first div{
        font-size:3rem;
        text-align: center;
        flex:1;
    }

    .showcase-first h1{
        font-size:3rem;
        text-align: center;
    }

    .showcase-first p{
        font-size:1.2rem;
    }
    .showcase-first .btn{
        background:#000;
        color:#fff;
        padding:10px 20px;
        border-radius: 20px;
    }

    .showcase-first .btn:hover{
        opacity:0.8;
    }

    .showcase-second{
        padding:20px;
        display: grid;
        width:90%;
        margin:0 auto;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: center;
    }


    .showcase-second div img{
        width:100%;
    }

    .showcase-second p{
        font-size:1.2rem;
        width:100%;
    }

    .showcase-second div .btn{
        background:#000;
        color:#fff;
        padding:10px 20px;
        border-radius: 20px;
    }

    .showcase-second .btn:hover{
        opacity:0.8;
    }
    

    .showcase-third{
        padding:20px;
        display: flex;
        width:90%;
        margin:0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .showcase-third img{
        width:100%;
        margin:0 auto;
        flex:2;
    }

    .showcase-third div{
        font-size:3rem;
        text-align: center;
        flex:1;
    }

    .showcase-third h1{
        font-size:3rem;
        text-align: center;
    }

    .showcase-third p{
        font-size:1.2rem;
    }

    .section-three{
        height:700px;
        width:100%;
        background:url(../img/neonbrand-mlZzMow-CQw-unsplash.jpg)no-repeat center;
        background-size: cover;
        text-align: center;
       
        
    }

    .section-three .overlay{
        height:700px;
        width:100%;
        background:rgba(0, 0,0,0.4);
        display:flex;
        flex-direction:column;
        color:#fff;
        align-items: center;
        justify-content: center;

    }

    .overlay p{
        font-size:3rem;
        text-align: center;
        padding:0px 50px;
    }
    .overlay:last-child{
        font-size:1rem;
        text-align: center;
    }

    .section-three h1{
        font-size:2rem;
        padding:30px;
    }

    .parallax{
        height:70vh;
        width:100%;
        background:url(../img/room-X_YWxDBdtJU-unsplash.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .parallax-one{
        height:70vh;
        width:100%;
        background:url(../img/stephan-sorkin-kCrwoHRWe8Y-unsplash.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }

    .header-text{
        text-align: center;
        padding:0px 20px;
    }
    .image-grid{
        width:100%;
        display:grid;
        grid-gap:5px;
        grid-template-columns: repeat(3,1fr);
    }
    .image-grid a{
        width:100%;
    }
    .image-grid a img{
        width:100%;
        height:auto;
        /* border:1px solid #000; */
    }
    .image-grid a:first-child{
       grid-column:1/ 3;
       grid-row:1/3;
    }
    .image-grid a:nth-child(2){
    grid-column:3;
   
    }
    .image-grid a:nth-child(3){
        grid-column:3;
    }

    .image-grid a:nth-child(4){
        grid-column:1;
    }

    .image-grid a:nth-child(5){
        grid-column:1;
    }

    .image-grid a:nth-child(6){
        grid-column:2/5;
         grid-row:3/5;
    }

    .image-grid a:nth-child(7){
        grid-column:1;
        grid-row:5/7;
    }

    .image-grid a:nth-child(8){
        grid-column:2;
        grid-row:5/7;
    }

    .image-grid a:nth-child(9){
        grid-column:3;
         grid-row:5/7;
    }
    .image-grid a:nth-child(10){
        grid-column:1/5;
    }

    .footer{
        background:url(../img/pexels-sound-on-3761272.jpg)no-repeat center;
        background-size: cover;
        display:grid;
        grid-template-columns: 1fr;
        align-items:center;
        justify-content: center;
        font-size:1.5rem;
    }

    .footer>div{
        text-align: center;
        padding:20px 10px;
        color:#fff;
}

.footer div li a{
    list-style:none;
    color:#fff;
}
.footer div li{
    list-style:none;
}

.footer input{
    padding:10px;
    border-radius: 20px;
    color:#000;
    border:none;
    border:1px solid #000;
}

.footer input:last-child{
    padding:10px 20px;
    border-radius: 20px;
    background:#555;
    color:#fff;
    border:none;
    cursor:pointer;
    border:1px solid #fff;
}

}